<h1>{{title}}</h1>
<!-- <button (click)="title = 'Brand New Angular App!'">Change Title</button> -->
<hr>
<label for="">New Title :</label>
<input type="text" #txtNewTitle>
<button (click)="onBtnChangeTitleClick(txtNewTitle.value)">Change Title</button>

<!-- 
    <h2>Calculator-2</h2>
    <input type="number" name="" id="">
    <select name="" id="">
        <option value="">----Select----</option>
        <option value="add">Add</option>
        <option value="subtract">Subtract</option>
        <option value="multiply">Multiply</option>
        <option value="divide">Divide</option>
    </select>
    <input type="number" name="" id="">
    <button>Calculate</button>
    <div>[Result]</div> 
-->